.table {
    width: 100%;
}
.table th {
    padding: 0 8px;
}
.ingredient-img{
    width: 120px;
    height: 80px;
    background-image: url("https://media.istockphoto.com/vectors/set-vector-constructor-isometric-burger-ingredients-and-burger-buns-vector-id869753078?k=6&m=869753078&s=612x612&w=0&h=0Vh882jeRViOn3ZuxAAugmWj1LBfprtR5DYkxDeC1wc=");
}

.igredient-count input{
    text-align: center;
    width: 35px;
    border: none;
    background: seashell;
}
.igredient-count{
    display: flex;
}
.igredient-count button{
    border: none;
}
.igredient-count button:hover{
    background: seashell;
}
.igredient-count button:active{
    background: #fae6d8;
}
.Cheese{
    background-position: 141px 310px;
}
.Meat{
    background-position: 420px 460px;
}
.Salad{
    background-position: 141px 220px;
}
.Bacon{
    background-position: 280px 0;
}

